*{
    margin: 0px;
}

/* default styling for header */
header{
    background: rgb(24,237,238);
    background: linear-gradient(90deg, rgba(24,237,238,1) 0%, rgba(0,99,255,1) 100%);  
    height: 5vw;  
}

/* styling for h1 in header */
header h1{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}

/* styling for main */
main{
    display: flex;
    margin-left: 3px;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 25%;
  padding: 1.3rem;
  height: 10vw;
  position: absolute;
  top: 20%;
  left: 37.5%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal button{
    width: 50%;
    margin-left: 25%;
}

.error-message{
    font-size: 1.6vw;
    text-align: center;
}

.error{
    color: rgb(232, 97, 97);
    text-align: center;
    font-size: 3vw;
}

.hidden{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

/* styling for search & history */ 
.search-history{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-right: 10px;
}

/* default styling for buttons */
button{
    margin-top: 20px;
    font-size: 1.5vw;
}

button:hover{
    cursor: pointer;
}

/* styling for search button */ 
.btn-search{
    background-color: rgb(100, 165, 229);
    color: white;
    border: none;
    border-radius: 2px;
}

/* styling for search bar */ 
input{
    font-size: 1.5vw;
    margin-top: 7px;
}

.search{
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    border-bottom: 1px solid rgb(130, 130, 130);
    padding-bottom: 7px;
}

.current-location{
    margin-left: 10px;
    margin-right: 10%;
    width:100%;
}

.current-weather{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    margin-bottom: 15px;
    border: .5px solid black;
    padding: 3px;    
    border-radius: 5px;
    width: 75vw;
    height: 12vw;
}

.current-weather h3{
    font-size: 2vw;
}

.current-wind, 
.current-humidity{
    margin-top: .5vw;
}

.lbl-forecast{
    margin-bottom: 5px;
    font-size: 2vw;
}

.history{
    display: flex;
    flex-direction: column;
}

.history button{
    background-color: rgb(163, 163, 163);
    border: none;
    border-radius: 2px;
    padding: 3px;
}

.infographic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infographic img{
    height: 70px;
    width: 70px;
}

.infographic h5{
    font-size: 1.5vw;
}

.infographic h6 {
    font-size: 1vw;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(32, 32, 67);
    padding: 10px;
    width: 12vw;
    border-radius: 5px;
    color: white;
}

.card h6{
    margin-top: 1.5vw;
}

.city-name{
    font-size: 2.5vw;
    display: inline-block;
}

.city-name img{
    height: 70px;
    vertical-align: middle;
}